<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Overseer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="css/index.css">
  </head>

  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="#" style="color: white;">Overseer</a>
      </div>
    </div>

    <canvas id="trafficCanvas" height="500" width="940"></canvas>

    <footer class="footer">
      <div class="well" style="margin-bottom: 0px;">
        <h3>Network Traffic</h3>
        <div id="trafficFeed" class="form-control"></div>
        <div class="input-group">
          <span class="input-group-btn">
            <button id="stopCapture" type="button" class="btn btn-danger pull-right stop-button">Stop</button>
            <button id="startCapture" class="btn btn-success pull-right start-button" type="button">Start</button>
            <div class="clearfix"></div>
          </span>
        </div><!-- /input-group -->
      </div>
    </footer>

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"><\/script>')</script>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Graphics -->
    <script src="bower_components/EaselJS/lib/easeljs-0.8.1.min.js"></script>
    <script>window.createjs || document.write('<script src="https://code.createjs.com/easeljs-0.8.1.min.js"><\/script>')</script>

    <script src="bower_components/TweenJS/lib/tweenjs-0.6.1.min.js"></script>
    <script>window.createjs.Tween || document.write('<script src="https://code.createjs.com/tweenjs-0.6.1.min.js"><\/script>')</script>

    <!-- APP CODE -->
    <script src="js/animator.js"></script>
    <script src="js/node.js"></script>
    <script src="js/node_manager.js"></script>
    <script src="js/traffic.js"></script>
    <script src="js/traffic_manager.js"></script>
    <script src="js/subject.js"></script>
    <script src="js/app.min.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
