<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Overseer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/error-modal.css">
  </head>

  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="error-modal-container"></div>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <a class="navbar-brand" href="#" style="color: white;">Overseer</a>
      </div>
    </div>

    <canvas id="trafficCanvas" height="500" width="940"></canvas>

    <footer class="footer">
      <div class="well" style="margin-bottom: 0px;">
        <div class="row">
          <div class="col-xs-3 col-xl-5">
            <h3>Network Traffic</h3>
            <div id="trafficFeed" class="form-control"></div>
          </div>

          <div class="col-xs-5">
            <h3>Network Statistics</h3>
            <div id="portStatistics-container" style="overflow: auto;">
              <div class="col-xs-2 text-center">
                <strong>Rank</strong>
                <div id="rank0"><strong>1</strong></div>
                <div id="rank1"><strong>2</strong></div>
                <div id="rank2"><strong>3</strong></div>
                <div id="rank3"><strong>4</strong></div>
                <div id="rank4"><strong>5</strong></div>
              </div>
              <div class="col-xs-4 text-center">
                <strong>Service</strong>
                <div id="service0"></div>
                <div id="service1"></div>
                <div id="service2"></div>
                <div id="service3"></div>
                <div id="service4"></div>
              </div>
              <div class="col-xs-2 text-center">
                <strong>Count</strong>
                <div id="count0"></div>
                <div id="count1"></div>
                <div id="count2"></div>
                <div id="count3"></div>
                <div id="count4"></div>
              </div>
              <div id="portStatistics"></div>
            </div>
          </div>

          <div class="col-xs-4 col-xl-2">
            <h3>Network Controls</h3>

            <div class="row col-xs-12">
              <div class="col-xs-6 filter">
                <label for="networkFilterV4">IPv4 Filter</label>
                <div class="input-group">
                  <input id="networkFilterV4" type="text" class="form-control" placeholder="0.0.0.0/0">
                  <span class="input-group-btn">
                    <button id="networkFilterClearV4" class="btn btn-default" type="button">
                      <span aria-hidden=true><strong>&times;</strong></span>
                    </button>
                  </span>
                </div>
              </div>

              <div class="col-xs-6 filter">
                <label for="networkFilterV4">IPv6 Filter</label>
                <div class="input-group">
                  <input id="networkFilterV6" type="text" class="form-control" placeholder="0::0/0">
                  <span class="input-group-btn">
                    <button id="networkFilterClearV6" class="btn btn-default" type="button">
                      <span aria-hidden=true><strong>&times;</strong></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>

            <div class="row col-xs-12">
              <div class="input-group">
                <span class="input-group-btn">
                  <button id="stopCapture" type="button" class="btn btn-danger pull-right stop-button">Stop</button>
                  <button id="startCapture" class="btn btn-success pull-right start-button" type="button">Start</button>
                  <div class="clearfix"></div>
                </span>
              </div><!-- /input-group -->
            </div>
          </div><!-- /network controls -->

        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"><\/script>')</script>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Graphics -->
    <script src="bower_components/EaselJS/lib/easeljs-0.8.1.min.js"></script>
    <script>window.createjs || document.write('<script src="https://code.createjs.com/easeljs-0.8.1.min.js"><\/script>')</script>

    <script src="bower_components/TweenJS/lib/tweenjs-0.6.1.min.js"></script>
    <script>window.createjs.Tween || document.write('<script src="https://code.createjs.com/tweenjs-0.6.1.min.js"><\/script>')</script>

    <script src="bower_components/bootstrap/js/modal.js"></script>

    <script src="bower_components/ipaddr.js/lib/ipaddr.js"></script>

    <!-- APP CODE -->
    <script src="js/app.min.js"></script>
  </body>
</html>
