html {
  position: relative;
  height: 100%;
  overflow: hidden;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 233px;
  height: 100%;
}

p{
  margin:0;
  padding:0;
}

.navbar {
  margin-bottom: 0px;
}

#trafficCanvas {
  margin: 0 auto;
  display: block;
}

#trafficFeed {
  resize: none;
  font-size: 12px;
  border-radius: 5px;
  border: #ccc solid 1px;
  line-height: 14px;
  overflow-y: auto;
  white-space: nowrap;
  width: 100%;
  height: 137px;
}

#portStatistics-container {
  white-space: nowrap;
  overflow: hidden;
}

#portStatistics-container div {
  overflow: inherit;
}

.toggle-filters {
  padding-top: 5px;
}

.trafficMessage {
  padding: 0;
  margin: 0;
}

.start-button {
  margin: 5px;
}

.stop-button {
  margin: 5px;
}

.filter {
  padding-left: 5px;
  padding-right: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 233px;
}
